
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >
<head >
    <link rel="stylesheet" href="../static/css/homepage.css" th:href="@{/css/homepage.css}">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">

</head>
<body>
	<div class="login-container">
            <a th:href="@{/login}">LOGIN</a><br>
            <a th:href="@{/register}">SIGN UP</a> 
    </div>
    <div class="topnav">
        <a th:href="@{/}"></a><img class="logo" src="../static/images/candyshoplogo.webp" th:src="@{/images/candyshoplogo.webp}"/><br> 
    </div>

<div class="candy"><br>
    <div class="CandyforSale"> 
     	<img src="../static/images/sourpatch.webp" style="widows:  100px;height: 200px;"th:src="@{/images/sourpatch.webp}"/>
        <figcaption class="caption">Sour Patch Kids</figcaption>
    </div>
    <div class="CandyforSale">
        <img src="../static/images/herseys.webp" style="widows:  100px;height: 200px;"th:src="@{/images/herseys.webp}"/><br>
        <figcaption class="caption">XL Herseys Chocolate Bar</figcaption> 
    </div>
    <div class="CandyforSale">
       	<img src="../static/images/nerds.webp" style="widows:  100px;height: 200px;"th:src="@{/images/nerds.webp}"/><br>            
		<figcaption class="caption">Nerds Rainbow</figcaption>
    </div>
    <div class="CandyforSale">
        <img src="../static/images/skittles.webp" style="widows:  100px;height: 200px;"th:src="@{/images/skittles.webp}"/><br>            
    	<figcaption class="caption">Skittles Large Bag</figcaption>
    </div>
    
    <div class ="shop">
    	<br><br><a th:href="@{/}">SHOP NOW</a> 
    </div>
    <br><br>
<hr style="width:auto">

<div class="aboutus">
	<br><p class="statement">We're your one stop shop for all things candy. Currently online only but will soon be in a mall near you!</p>
	<br><a style="color:blue;" th:href="@{/}">ABOUT US</a>
	<br><a style="color:blue;" th:href="@{/}">HELP</a> <p class="sjsu">CMPE 172 Team Gumball</p>


	
</div>

</div>
</body>
</html>