<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
	<link rel="stylesheet" href="../static/css/register.css" th:href="@{/css/register.css}">

</head>
<body>

<div class = "topnav">
	<img class="logo" src="../static/images/candyshoplogo.webp" th:src="@{/images/candyshoplogo.webp}">
</div>	
<div class="signup-form">
	

    <form action="#" method="post" th:object="${user}" >
		<div class="form-header">
			<h2> Sign Up for a CandyShop Account!</h2>
			<p> Join our members list today and get notified to member exclusive deals and discounts today!</p>
		</div>
        <div class="form-group">
			<label>First Name</label>
        	<input type="text" class="form-control" name="firstName" required="required" th:field=*{firstname}>
        </div>
        <div class="form-group">
			<label>Last Name</label>
        	<input type="text" class="form-control" name="lastName" required="required" th:field=*{lastname}>
        </div>
		<div class="form-group">
			<label>Email</label>
            <input type="email" class="form-control" name="email" required="required" th:field=*{email}>
        </div>
		<div class="form-group">
			<label>Username</label>
            <input type="username" class="form-control" name="username" required="required" th:field=*{username}>
        </div>
		<div class="form-group">
			<label>Password</label>
            <input type="password" class="form-control" name="password" required="required" th:field=*{password}>
        </div>        
        <div class="form-group">
			<label class="form-check-label"><input type="checkbox" required="required"> I agree to get notified of exclusive deals and offers at the email specified above. </a></label>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-block btn-lg">Create Account</button>
		</div>	
    </form>
	<div class="text-center small">Already have an account? <a th:href="@{/login}">Login here</a></div>
	
	<div style="color:red" th:if="${not#lists.isEmpty(messages)}">
		<div class="messages">
		  <ul th:each="m : ${messages}">
			<li th:text="${m.msg}">
		  </ul>
		</div>
	  </div>

	  <div class="message">
	  <span th:text="${message}" />
	  </div>
</div>
</body>
</html>