.logo {
    display: block;
    margin-left: auto;
    margin-right:auto;
}

.form {
    width: auto;
    text-align: left;
    padding: 5px 10px;
    margin: auto;
    display: block;
    border-radius: 4px;
    box-sizing: border-box;
}